.container {
  position: relative;
}
a > img {
  position: absolute;
  top: 30px;
  left: 113px;
}
h3,
form p {
     text-align: center;
}
h3 {
  margin-bottom: 48px;
}
.content {
     width: 40%;
     margin: 90px auto;
}
button,
.in {
     height: 55px;
     border-radius: 10px;
     border-color: rgb(195, 195, 195);
     display: block;
     width: 100%;
     margin-bottom: 22px;
}
.remmember {
     display: flex;
     justify-content: space-between;
     margin: 30px 0;
}
.check label,
.remmember p {
     font-family: "Inter";
     font-weight: 700;
     font-size: 20.5509px;
     line-height: 25px;
     color: black;
}
.registerL {
     background: #062cff;
     box-shadow: 0px 3.08264px 12.3306px rgba(0, 0, 0, 0.25);
     border-radius: 10.2755px;
}
.google {
     background: #ffffff;
     box-shadow: 0px 3.08264px 12.3306px rgba(0, 0, 0, 0.25);
     border-radius: 10.2755px;
     margin: 20px 0;
}
.flex {
  align-items: center;
}
.flex p {
  margin-right: 20px;
}

